/*--------------------------Universal Styles---------------------------*/
body {
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6, .card h4 {
	font-family: 'Lato', sans-serif;
}

.button {
	border-radius: 50px;
	color: #fff;
	padding: 14px 40px;
	background-color: #002645;
	text-align: center;
	border: 3px solid white;
	display: inline-block;
	margin-top: 40px;
	transition: all .3s ease-in-out;
}

.button:hover {
	background-color: white;
	padding: 14px 70px;
	border: 3px solid #002645;
	color: #002645;
	transition: all .3s ease-in-out;
}

/*-----------------------Navigation Styles-----------------------------*/
.bg-light {
	background-color: #002645!important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover{
	color: #FFF;
	z-index: 2;
}

.navbar-light .navbar-nav .nav-link:hover {
	transform: rotate(360deg);
	transition: all .3s ease-in-out;
}


.navbar-light .navbar-nav .nav-link:visited {
	color: #fff;
}
/*---------------------------Hero Styles--------------------------------*/
.Hero {
	min-height: 95vh;
	background-color: #222222;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.HeroContent {
	width: 100%;
}



.HeroContent h1 {
	font-weight: 100;
	font-size: 70px;
}


.WCIDbtn {
	margin-top: 60px
}

.WCIDbtn a, .WCIDbtn i {
	text-decoration: none;
	color: #fff;

}


/*--------------------------------What Can I Do Section---------------------*/
.Jorge {
	border-radius: 50%;
	padding-top: 20px;
}

.jorgeInfo {
	margin: 20px 0 40px 0;
	font-size: 20px;

}

.WhatCanIDo {
	margin: 40px;
	padding: 20px;
}

.WhatCanIDo h2, i, .toolsTitle, .WhatCanIDo dt {
	color: #002645;
}

.WhatCanIDo h2 {
	font-size: 45px;
}

.thingsIOffer {
	padding: 60px 0 80px 0;
}

.toolsTitle {
	padding: 30px;
	font-size: 50px;
}

.WhatCanIDo dt {
	font-size: 25px;
	margin: 5px;
}

/*-------------------------------Works Styles------------------------------*/
.works {
	background-color: #002645;
	color: #fff;
	margin-top: 20px;
	margin: auto;
}

.works h2 {
	font-weight: 100;
	font-size: 50px;
	padding: 30px;

}

.card {
	color: #000;
	width: 20rem;
	margin-bottom: 20px;
}

.card h4 {
	font-weight: 400;
	color: #002645;
}

.worksButton {
	border-radius: 50px;
	color: #002645;
	padding: 10px 25px;
	background-color: #fff;
	text-align: center;
	border: 3px solid #002645;
	display: inline-block;
	transition: all .3s ease-in-out;
}

.worksButton:hover {
	background-color: #002645;
	padding: 10px 50px;
	border: 3px solid #fff;
	color: #fff;
	transition: all .3s ease-in-out;
}

/*-------------------------Contact form Styles------------------------------------*/

.contact {
	margin-top: 40px;
	padding: 20px;
}

.contact .form-control {
	margin: 10px;
}

.form-control:focus {
	 border: 3px solid #002645;
	 outline: none;
	 box-shadow: none;
}

.contact_container p:nth-child(3){
	margin-top: 30px;
}

.error {
	color: red;
}

.success {
	color: #ff9966;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

/*----------------------------------Footer Styles-----------------------------*/

.footer {
	background-color: #222222;
	padding: 20px;
}

.footer p {
	color: #797B80;
	margin-bottom: 0px;
}

.footer i {
	color: #797B80;
	transition: all .3s ease-in-out;
}

.footer i:hover {
	color: #fff;
	transition: color .3s ease-in-out;
}

.footer .socialLinks a {
	display: inline-block;
	margin-left: 10px;
}

.footer p {
	margin-top: 10px;
	margin-bottom: 10px;
}



/*--------------------------------MEDIA QUERIES-----------------------------*/

@media screen and (max-width: 320px) {
	.HeroContent h1 {
		font-size: 35px;
	}

	.WhatCanIDo strong {
		font-size: 30px;
	}

	.toolsTitle {
		padding: 30px 0;
		font-size: 45px;
	}

	.card {
		width: 15rem;
	}

	.contact .form-control {
		margin-bottom: 15px;
	}

	.contact h2 {
		font-size: 25px;
	}
}

@media screen and (max-width: 360px) {
	.WhatCanIDo h2 {
		font-size: 40px;
	}

}

@media screen and (max-width: 375px) {
	.WhatCanIDo h2 {
		font-size: 40px;
	}

	.contact .form-control {
		margin: 0;
		margin-bottom: 15px;
	}

	.contact h2 {
		font-size: 30px;
	}
}

@media screen and (max-width: 414px){
	.card {
		margin: 20px auto;
	}

	.HeroContent h1 {
		font-size: 50px;
	}
}

@media screen and (min-width: 550px){
	.Hero {
		background:
		linear-gradient(
			rgba(83, 105, 200, 0.45),
			rgba(41, 46, 73, 0.50)
		),

		url(../images/CompCode.jpg);
		background-color: #222222;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

}

@media screen and (min-width: 570px) {
	.card {
		margin: 20px auto;
	}
}